# Configuration file

anvil {
    I:"crushedCentrifugedRedstone;gt.empty_slot;_22"=22
    I:"crushedPurifiedRedstone;gt.empty_slot;_20"=20
    I:"crushedRedstone;gt.empty_slot;_18"=18
    I:"gemFlawlessDiamond;gt.empty_slot;_512"=512
    I:"rockGtStone;gt.empty_slot;_72"=72
}


