# Configuration file

anvil {
    I:"crushedCentrifugedRedstone;gt.empty_slot;_22"=22
    I:"crushedPurifiedRedstone;gt.empty_slot;_20"=20
    I:"crushedRedstone;gt.empty_slot;_18"=18
    I:"gemDiamond;gt.empty_slot;_256"=256
    I:"gemFlawlessDiamond;gt.empty_slot;_512"=512
    I:"ingotDoubleLead;gt.empty_slot;_256"=256
    I:"plateCurvedLead;gt.empty_slot;_128"=128
    I:"rockGtStone;gt.empty_slot;_72"=72
}


