# Configuration file

laser_cutter {
    I:"gemCoal;_128"=128
    I:"ingotDoubleIron;_128"=128
    I:"ingotQuadrupleIron;_384"=384
    I:"ingotQuintupleIron;_512"=512
    I:"ingotTripleIron;_256"=256
    I:"stickLongWood;_128"=128
    I:"stickWood;_384"=384
}


