# Configuration file

sharpener {
    I:"item.flint;_64"=64
    I:"plateGemRedstone;_256"=256
    I:"platePolytetrafluoroethylene;_128"=128
    I:"rockGtStone;_288"=288
    I:"stickPolytetrafluoroethylene;_128"=128
    I:"tile.glass;_64"=64
    I:"tile.thinGlass;_64"=64
}


