# Configuration file

shredder {
    I:"blockGemFlint;_288"=288
    I:"blockGemRedstone;_144"=144
    I:"blockPlateGemFlint;_288"=288
    I:"blockPlateGemRedstone;_144"=144
    I:"blockSolidAndesite;_16"=16
    I:"blockSolidBasalt;_48"=48
    I:"blockSolidBlueschist;_16"=16
    I:"blockSolidDiorite;_16"=16
    I:"blockSolidGranite;_32"=32
    I:"blockSolidGraniteBlack;_64"=64
    I:"blockSolidGraniteRed;_64"=64
    I:"blockSolidGreenschist;_16"=16
    I:"blockSolidKimberlite;_48"=48
    I:"blockSolidKomatiite;_48"=48
    I:"blockSolidLimestone;_16"=16
    I:"blockSolidMarble;_16"=16
    I:"blockSolidPrismarine;_16"=16
    I:"blockSolidPrismarineDark;_32"=32
    I:"blockSolidQuartzite;_16"=16
    I:"boltFlint;_4"=4
    I:"boltRedstone;_2"=2
    I:"capcellconAluminium;_48"=48
    I:"casingSmallFlint;_16"=16
    I:"chainFlint;_32"=32
    I:"crushedCentrifugedRedstone;_22"=22
    I:"crushedPurifiedRedstone;_20"=20
    I:"crushedRedstone;_18"=18
    I:"gearGtFlint;_128"=128
    I:"gearGtSmallFlint;_32"=32
    I:"gemChippedRedstone;_4"=4
    I:"gemCoal;_16"=16
    I:"gemDiamond;_1024"=1024
    I:"gemExquisiteRedstone;_64"=64
    I:"gemFlawedRedstone;_8"=8
    I:"gemFlawlessRedstone;_32"=32
    I:"gemLegendaryRedstone;_128"=128
    I:"gemRedstone;_16"=16
    I:"gt.block.bale.crop.0;_144"=144
    I:"gt.block.bale.crop.10;_144"=144
    I:"gt.block.bale.crop.11;_144"=144
    I:"gt.block.bale.crop.12;_144"=144
    I:"gt.block.bale.crop.13;_144"=144
    I:"gt.block.bale.crop.14;_144"=144
    I:"gt.block.bale.crop.15;_144"=144
    I:"gt.block.bale.crop.1;_144"=144
    I:"gt.block.bale.crop.2;_144"=144
    I:"gt.block.bale.crop.3;_144"=144
    I:"gt.block.bale.crop.4;_144"=144
    I:"gt.block.bale.crop.5;_144"=144
    I:"gt.block.bale.crop.6;_144"=144
    I:"gt.block.bale.crop.7;_144"=144
    I:"gt.block.bale.crop.8;_144"=144
    I:"gt.block.bale.crop.9;_144"=144
    I:"gt.block.flower.a.0;_16"=16
    I:"gt.block.flower.a.1;_16"=16
    I:"gt.block.flower.a.2;_16"=16
    I:"gt.block.flower.a.3;_16"=16
    I:"gt.block.flower.a.4;_16"=16
    I:"gt.block.flower.a.5;_16"=16
    I:"gt.block.flower.a.6;_16"=16
    I:"gt.block.flower.a.7;_16"=16
    I:"gt.block.flower.a.8;_16"=16
    I:"gt.block.flower.b.0;_16"=16
    I:"gt.block.flower.b.1;_16"=16
    I:"gt.block.flower.b.2;_16"=16
    I:"gt.block.flower.b.3;_16"=16
    I:"gt.block.flower.b.4;_16"=16
    I:"gt.block.flower.b.5;_16"=16
    I:"gt.block.flower.b.6;_16"=16
    I:"gt.block.flower.b.7;_16"=16
    I:"gt.block.leaves.0;_16"=16
    I:"gt.block.leaves.10;_16"=16
    I:"gt.block.leaves.11;_16"=16
    I:"gt.block.leaves.12;_16"=16
    I:"gt.block.leaves.13;_16"=16
    I:"gt.block.leaves.14;_16"=16
    I:"gt.block.leaves.15;_16"=16
    I:"gt.block.leaves.1;_16"=16
    I:"gt.block.leaves.2;_16"=16
    I:"gt.block.leaves.3;_16"=16
    I:"gt.block.leaves.4;_16"=16
    I:"gt.block.leaves.5;_16"=16
    I:"gt.block.leaves.6;_16"=16
    I:"gt.block.leaves.7;_16"=16
    I:"gt.block.leaves.8;_16"=16
    I:"gt.block.leaves.9;_16"=16
    I:"gt.block.leaves.cd.0;_16"=16
    I:"gt.block.leaves.cd.8;_16"=16
    I:"gt.block.sapling.0;_16"=16
    I:"gt.block.sapling.10;_16"=16
    I:"gt.block.sapling.11;_16"=16
    I:"gt.block.sapling.12;_16"=16
    I:"gt.block.sapling.13;_16"=16
    I:"gt.block.sapling.14;_16"=16
    I:"gt.block.sapling.15;_16"=16
    I:"gt.block.sapling.1;_16"=16
    I:"gt.block.sapling.2;_16"=16
    I:"gt.block.sapling.3;_16"=16
    I:"gt.block.sapling.4;_16"=16
    I:"gt.block.sapling.5;_16"=16
    I:"gt.block.sapling.6;_16"=16
    I:"gt.block.sapling.7;_16"=16
    I:"gt.block.sapling.8;_16"=16
    I:"gt.block.sapling.9;_16"=16
    I:"gt.block.sapling.cd.0;_16"=16
    I:"gt.block.sapling.cd.8;_16"=16
    I:"gt.multiitem.food.0;_16"=16
    I:"gt.multiitem.food.1000;_16"=16
    I:"gt.multiitem.food.100;_16"=16
    I:"gt.multiitem.food.10;_16"=16
    I:"gt.multiitem.food.110;_16"=16
    I:"gt.multiitem.food.12004;_16"=16
    I:"gt.multiitem.food.12005;_16"=16
    I:"gt.multiitem.food.12006;_16"=16
    I:"gt.multiitem.food.12007;_16"=16
    I:"gt.multiitem.food.12010;_16"=16
    I:"gt.multiitem.food.12011;_16"=16
    I:"gt.multiitem.food.120;_16"=16
    I:"gt.multiitem.food.130;_16"=16
    I:"gt.multiitem.food.140;_16"=16
    I:"gt.multiitem.food.150;_16"=16
    I:"gt.multiitem.food.160;_16"=16
    I:"gt.multiitem.food.170;_16"=16
    I:"gt.multiitem.food.180;_16"=16
    I:"gt.multiitem.food.190;_16"=16
    I:"gt.multiitem.food.200;_16"=16
    I:"gt.multiitem.food.20;_16"=16
    I:"gt.multiitem.food.210;_16"=16
    I:"gt.multiitem.food.220;_16"=16
    I:"gt.multiitem.food.240;_16"=16
    I:"gt.multiitem.food.250;_16"=16
    I:"gt.multiitem.food.260;_16"=16
    I:"gt.multiitem.food.270;_16"=16
    I:"gt.multiitem.food.280;_16"=16
    I:"gt.multiitem.food.290;_16"=16
    I:"gt.multiitem.food.30;_16"=16
    I:"gt.multiitem.food.40;_16"=16
    I:"gt.multiitem.food.50;_16"=16
    I:"gt.multiitem.food.60;_16"=16
    I:"gt.multiitem.food.63;_16"=16
    I:"gt.multiitem.food.66;_16"=16
    I:"gt.multiitem.food.70;_16"=16
    I:"gt.multiitem.food.90;_16"=16
    I:"gt.multiitem.randomtools.6000;_16"=16
    I:"gt.multiitem.randomtools.6000;_32"=32
    I:"gt.multiitem.randomtools.6001;_16"=16
    I:"gt.multiitem.randomtools.6001;_32"=32
    I:"gt.multiitem.randomtools.6002;_16"=16
    I:"gt.multiitem.randomtools.6002;_32"=32
    I:"gt.stone.andesite.0;_16"=16
    I:"gt.stone.andesite.10;_16"=16
    I:"gt.stone.andesite.11;_16"=16
    I:"gt.stone.andesite.12;_16"=16
    I:"gt.stone.andesite.13;_16"=16
    I:"gt.stone.andesite.14;_16"=16
    I:"gt.stone.andesite.15;_16"=16
    I:"gt.stone.andesite.1;_16"=16
    I:"gt.stone.andesite.2;_16"=16
    I:"gt.stone.andesite.3;_16"=16
    I:"gt.stone.andesite.4;_16"=16
    I:"gt.stone.andesite.5;_16"=16
    I:"gt.stone.andesite.6;_16"=16
    I:"gt.stone.andesite.7;_16"=16
    I:"gt.stone.andesite.8;_64"=64
    I:"gt.stone.andesite.9;_16"=16
    I:"gt.stone.basalt.0;_48"=48
    I:"gt.stone.basalt.10;_48"=48
    I:"gt.stone.basalt.11;_48"=48
    I:"gt.stone.basalt.12;_48"=48
    I:"gt.stone.basalt.13;_48"=48
    I:"gt.stone.basalt.14;_48"=48
    I:"gt.stone.basalt.15;_48"=48
    I:"gt.stone.basalt.1;_48"=48
    I:"gt.stone.basalt.2;_48"=48
    I:"gt.stone.basalt.3;_48"=48
    I:"gt.stone.basalt.4;_48"=48
    I:"gt.stone.basalt.5;_48"=48
    I:"gt.stone.basalt.6;_48"=48
    I:"gt.stone.basalt.7;_48"=48
    I:"gt.stone.basalt.8;_192"=192
    I:"gt.stone.basalt.9;_48"=48
    I:"gt.stone.blueschist.0;_16"=16
    I:"gt.stone.blueschist.10;_16"=16
    I:"gt.stone.blueschist.11;_16"=16
    I:"gt.stone.blueschist.12;_16"=16
    I:"gt.stone.blueschist.13;_16"=16
    I:"gt.stone.blueschist.14;_16"=16
    I:"gt.stone.blueschist.15;_16"=16
    I:"gt.stone.blueschist.1;_16"=16
    I:"gt.stone.blueschist.2;_16"=16
    I:"gt.stone.blueschist.3;_16"=16
    I:"gt.stone.blueschist.4;_16"=16
    I:"gt.stone.blueschist.5;_16"=16
    I:"gt.stone.blueschist.6;_16"=16
    I:"gt.stone.blueschist.7;_16"=16
    I:"gt.stone.blueschist.8;_64"=64
    I:"gt.stone.blueschist.9;_16"=16
    I:"gt.stone.diorite.0;_16"=16
    I:"gt.stone.diorite.10;_16"=16
    I:"gt.stone.diorite.11;_16"=16
    I:"gt.stone.diorite.12;_16"=16
    I:"gt.stone.diorite.13;_16"=16
    I:"gt.stone.diorite.14;_16"=16
    I:"gt.stone.diorite.15;_16"=16
    I:"gt.stone.diorite.1;_16"=16
    I:"gt.stone.diorite.2;_16"=16
    I:"gt.stone.diorite.3;_16"=16
    I:"gt.stone.diorite.4;_16"=16
    I:"gt.stone.diorite.5;_16"=16
    I:"gt.stone.diorite.6;_16"=16
    I:"gt.stone.diorite.7;_16"=16
    I:"gt.stone.diorite.8;_64"=64
    I:"gt.stone.diorite.9;_16"=16
    I:"gt.stone.granite.0;_32"=32
    I:"gt.stone.granite.10;_32"=32
    I:"gt.stone.granite.11;_32"=32
    I:"gt.stone.granite.12;_32"=32
    I:"gt.stone.granite.13;_32"=32
    I:"gt.stone.granite.14;_32"=32
    I:"gt.stone.granite.15;_32"=32
    I:"gt.stone.granite.1;_32"=32
    I:"gt.stone.granite.2;_32"=32
    I:"gt.stone.granite.3;_32"=32
    I:"gt.stone.granite.4;_32"=32
    I:"gt.stone.granite.5;_32"=32
    I:"gt.stone.granite.6;_32"=32
    I:"gt.stone.granite.7;_32"=32
    I:"gt.stone.granite.8;_128"=128
    I:"gt.stone.granite.9;_32"=32
    I:"gt.stone.granite.black.0;_64"=64
    I:"gt.stone.granite.black.10;_64"=64
    I:"gt.stone.granite.black.11;_64"=64
    I:"gt.stone.granite.black.12;_64"=64
    I:"gt.stone.granite.black.13;_64"=64
    I:"gt.stone.granite.black.14;_64"=64
    I:"gt.stone.granite.black.15;_64"=64
    I:"gt.stone.granite.black.1;_64"=64
    I:"gt.stone.granite.black.2;_64"=64
    I:"gt.stone.granite.black.3;_64"=64
    I:"gt.stone.granite.black.4;_64"=64
    I:"gt.stone.granite.black.5;_64"=64
    I:"gt.stone.granite.black.6;_64"=64
    I:"gt.stone.granite.black.7;_64"=64
    I:"gt.stone.granite.black.8;_256"=256
    I:"gt.stone.granite.black.9;_64"=64
    I:"gt.stone.granite.red.0;_64"=64
    I:"gt.stone.granite.red.10;_64"=64
    I:"gt.stone.granite.red.11;_64"=64
    I:"gt.stone.granite.red.12;_64"=64
    I:"gt.stone.granite.red.13;_64"=64
    I:"gt.stone.granite.red.14;_64"=64
    I:"gt.stone.granite.red.15;_64"=64
    I:"gt.stone.granite.red.1;_64"=64
    I:"gt.stone.granite.red.2;_64"=64
    I:"gt.stone.granite.red.3;_64"=64
    I:"gt.stone.granite.red.4;_64"=64
    I:"gt.stone.granite.red.5;_64"=64
    I:"gt.stone.granite.red.6;_64"=64
    I:"gt.stone.granite.red.7;_64"=64
    I:"gt.stone.granite.red.8;_256"=256
    I:"gt.stone.granite.red.9;_64"=64
    I:"gt.stone.greenschist.0;_16"=16
    I:"gt.stone.greenschist.10;_16"=16
    I:"gt.stone.greenschist.11;_16"=16
    I:"gt.stone.greenschist.12;_16"=16
    I:"gt.stone.greenschist.13;_16"=16
    I:"gt.stone.greenschist.14;_16"=16
    I:"gt.stone.greenschist.15;_16"=16
    I:"gt.stone.greenschist.1;_16"=16
    I:"gt.stone.greenschist.2;_16"=16
    I:"gt.stone.greenschist.3;_16"=16
    I:"gt.stone.greenschist.4;_16"=16
    I:"gt.stone.greenschist.5;_16"=16
    I:"gt.stone.greenschist.6;_16"=16
    I:"gt.stone.greenschist.7;_16"=16
    I:"gt.stone.greenschist.8;_64"=64
    I:"gt.stone.greenschist.9;_16"=16
    I:"gt.stone.kimberlite.0;_48"=48
    I:"gt.stone.kimberlite.10;_48"=48
    I:"gt.stone.kimberlite.11;_48"=48
    I:"gt.stone.kimberlite.12;_48"=48
    I:"gt.stone.kimberlite.13;_48"=48
    I:"gt.stone.kimberlite.14;_48"=48
    I:"gt.stone.kimberlite.15;_48"=48
    I:"gt.stone.kimberlite.1;_48"=48
    I:"gt.stone.kimberlite.2;_48"=48
    I:"gt.stone.kimberlite.3;_48"=48
    I:"gt.stone.kimberlite.4;_48"=48
    I:"gt.stone.kimberlite.5;_48"=48
    I:"gt.stone.kimberlite.6;_48"=48
    I:"gt.stone.kimberlite.7;_48"=48
    I:"gt.stone.kimberlite.8;_192"=192
    I:"gt.stone.kimberlite.9;_48"=48
    I:"gt.stone.komatiite.0;_48"=48
    I:"gt.stone.komatiite.10;_48"=48
    I:"gt.stone.komatiite.11;_48"=48
    I:"gt.stone.komatiite.12;_48"=48
    I:"gt.stone.komatiite.13;_48"=48
    I:"gt.stone.komatiite.14;_48"=48
    I:"gt.stone.komatiite.15;_48"=48
    I:"gt.stone.komatiite.1;_48"=48
    I:"gt.stone.komatiite.2;_48"=48
    I:"gt.stone.komatiite.3;_48"=48
    I:"gt.stone.komatiite.4;_48"=48
    I:"gt.stone.komatiite.5;_48"=48
    I:"gt.stone.komatiite.6;_48"=48
    I:"gt.stone.komatiite.7;_48"=48
    I:"gt.stone.komatiite.8;_192"=192
    I:"gt.stone.komatiite.9;_48"=48
    I:"gt.stone.limestone.0;_16"=16
    I:"gt.stone.limestone.10;_16"=16
    I:"gt.stone.limestone.11;_16"=16
    I:"gt.stone.limestone.12;_16"=16
    I:"gt.stone.limestone.13;_16"=16
    I:"gt.stone.limestone.14;_16"=16
    I:"gt.stone.limestone.15;_16"=16
    I:"gt.stone.limestone.1;_16"=16
    I:"gt.stone.limestone.2;_16"=16
    I:"gt.stone.limestone.3;_16"=16
    I:"gt.stone.limestone.4;_16"=16
    I:"gt.stone.limestone.5;_16"=16
    I:"gt.stone.limestone.6;_16"=16
    I:"gt.stone.limestone.7;_16"=16
    I:"gt.stone.limestone.8;_64"=64
    I:"gt.stone.limestone.9;_16"=16
    I:"gt.stone.marble.0;_16"=16
    I:"gt.stone.marble.10;_16"=16
    I:"gt.stone.marble.11;_16"=16
    I:"gt.stone.marble.12;_16"=16
    I:"gt.stone.marble.13;_16"=16
    I:"gt.stone.marble.14;_16"=16
    I:"gt.stone.marble.15;_16"=16
    I:"gt.stone.marble.1;_16"=16
    I:"gt.stone.marble.2;_16"=16
    I:"gt.stone.marble.3;_16"=16
    I:"gt.stone.marble.4;_16"=16
    I:"gt.stone.marble.5;_16"=16
    I:"gt.stone.marble.6;_16"=16
    I:"gt.stone.marble.7;_16"=16
    I:"gt.stone.marble.8;_64"=64
    I:"gt.stone.marble.9;_16"=16
    I:"gt.stone.prismarine.dark.0;_32"=32
    I:"gt.stone.prismarine.dark.10;_32"=32
    I:"gt.stone.prismarine.dark.11;_32"=32
    I:"gt.stone.prismarine.dark.12;_32"=32
    I:"gt.stone.prismarine.dark.13;_32"=32
    I:"gt.stone.prismarine.dark.14;_32"=32
    I:"gt.stone.prismarine.dark.15;_32"=32
    I:"gt.stone.prismarine.dark.1;_32"=32
    I:"gt.stone.prismarine.dark.2;_32"=32
    I:"gt.stone.prismarine.dark.3;_32"=32
    I:"gt.stone.prismarine.dark.4;_32"=32
    I:"gt.stone.prismarine.dark.5;_32"=32
    I:"gt.stone.prismarine.dark.6;_32"=32
    I:"gt.stone.prismarine.dark.7;_32"=32
    I:"gt.stone.prismarine.dark.8;_128"=128
    I:"gt.stone.prismarine.dark.9;_32"=32
    I:"gt.stone.prismarine.light.0;_16"=16
    I:"gt.stone.prismarine.light.10;_16"=16
    I:"gt.stone.prismarine.light.11;_16"=16
    I:"gt.stone.prismarine.light.12;_16"=16
    I:"gt.stone.prismarine.light.13;_16"=16
    I:"gt.stone.prismarine.light.14;_16"=16
    I:"gt.stone.prismarine.light.15;_16"=16
    I:"gt.stone.prismarine.light.1;_16"=16
    I:"gt.stone.prismarine.light.2;_16"=16
    I:"gt.stone.prismarine.light.3;_16"=16
    I:"gt.stone.prismarine.light.4;_16"=16
    I:"gt.stone.prismarine.light.5;_16"=16
    I:"gt.stone.prismarine.light.6;_16"=16
    I:"gt.stone.prismarine.light.7;_16"=16
    I:"gt.stone.prismarine.light.8;_64"=64
    I:"gt.stone.prismarine.light.9;_16"=16
    I:"gt.stone.quartzite.0;_16"=16
    I:"gt.stone.quartzite.10;_16"=16
    I:"gt.stone.quartzite.11;_16"=16
    I:"gt.stone.quartzite.12;_16"=16
    I:"gt.stone.quartzite.13;_16"=16
    I:"gt.stone.quartzite.14;_16"=16
    I:"gt.stone.quartzite.15;_16"=16
    I:"gt.stone.quartzite.1;_16"=16
    I:"gt.stone.quartzite.2;_16"=16
    I:"gt.stone.quartzite.3;_16"=16
    I:"gt.stone.quartzite.4;_16"=16
    I:"gt.stone.quartzite.5;_16"=16
    I:"gt.stone.quartzite.6;_16"=16
    I:"gt.stone.quartzite.7;_16"=16
    I:"gt.stone.quartzite.8;_64"=64
    I:"gt.stone.quartzite.9;_16"=16
    I:"ingotCheese;_16"=16
    I:"item.apple;_16"=16
    I:"item.bone;_32"=32
    I:"item.carrots;_16"=16
    I:"item.cheeseCurd;_16"=16
    I:"item.dyePowder.brown;_16"=16
    I:"item.flint;_16"=16
    I:"item.itemCoffeeBeans;_16"=16
    I:"item.itemFuelPlantBall;_16"=16
    I:"item.itemHops;_16"=16
    I:"item.itemTeaLeaf;_16"=16
    I:"item.melon;_16"=16
    I:"item.null;_16"=16
    I:"item.potato;_16"=16
    I:"item.reeds;_16"=16
    I:"item.spiderEye;_16"=16
    I:"item.wheat;_16"=16
    I:"lensRedstone;_12"=12
    I:"plantGtBerryFlint;_4"=4
    I:"plantGtBerryRedstone;_2"=2
    I:"plantGtBlossomFlint;_4"=4
    I:"plantGtBlossomRedstone;_2"=2
    I:"plantGtBlossomTea;_16"=16
    I:"plantGtFiberFlint;_4"=4
    I:"plantGtFiberRedstone;_2"=2
    I:"plantGtWartFlint;_8"=8
    I:"plantGtWartRedstone;_4"=4
    I:"plateGemFlint;_32"=32
    I:"plateGemRedstone;_16"=16
    I:"plateGemTinyFlint;_4"=4
    I:"plateGemTinyRedstone;_2"=2
    I:"ringFlint;_8"=8
    I:"rotorFlint;_136"=136
    I:"roundFlint;_4"=4
    I:"scrapGtFlint;_4"=4
    I:"scrapGtRedstone;_2"=2
    I:"screwFlint;_4"=4
    I:"screwRedstone;_2"=2
    I:"stickBasalz;_32"=32
    I:"stickBlaze;_32"=32
    I:"stickBlitz;_32"=32
    I:"stickBlizz;_32"=32
    I:"stickFlint;_16"=16
    I:"stickLongBasalz;_64"=64
    I:"stickLongBlaze;_64"=64
    I:"stickLongBlitz;_64"=64
    I:"stickLongBlizz;_64"=64
    I:"stickLongFlint;_32"=32
    I:"stickLongRedstone;_16"=16
    I:"stickRedstone;_8"=8
    I:"stickWood;_8"=8
    I:"tile.cloth.black;_16"=16
    I:"tile.cloth.blue;_16"=16
    I:"tile.cloth.brown;_16"=16
    I:"tile.cloth.cyan;_16"=16
    I:"tile.cloth.gray;_16"=16
    I:"tile.cloth.green;_16"=16
    I:"tile.cloth.lightBlue;_16"=16
    I:"tile.cloth.lime;_16"=16
    I:"tile.cloth.magenta;_16"=16
    I:"tile.cloth.orange;_16"=16
    I:"tile.cloth.pink;_16"=16
    I:"tile.cloth.purple;_16"=16
    I:"tile.cloth.red;_16"=16
    I:"tile.cloth.silver;_16"=16
    I:"tile.cloth.white;_16"=16
    I:"tile.cloth.yellow;_16"=16
    I:"tile.gravel;_16"=16
    I:"tile.hayBlock;_144"=144
    I:"tile.leaves.acacia;_16"=16
    I:"tile.leaves.oak;_16"=16
    I:"tile.melon;_128"=128
    I:"tile.mushroom;_16"=16
    I:"tile.pumpkin;_16"=16
    I:"tile.sapling.oak;_16"=16
    I:"tile.stone;_16"=16
    I:"tile.stonebrick;_16"=16
    I:"tile.vine;_16"=16
    I:"tile.web;_16"=16
    I:"toolHeadArrowFlint;_8"=8
    I:"toolHeadAxeFlint;_93"=93
    I:"toolHeadHammerFlint;_192"=192
    I:"toolHeadHoeFlint;_61"=61
    I:"toolHeadPickaxeFlint;_93"=93
    I:"toolHeadPlowFlint;_125"=125
    I:"toolHeadRawArrowFlint;_8"=8
    I:"toolHeadRawAxeFlint;_96"=96
    I:"toolHeadRawHoeFlint;_64"=64
    I:"toolHeadRawPickaxeFlint;_96"=96
    I:"toolHeadRawPlowFlint;_128"=128
    I:"toolHeadRawSenseFlint;_96"=96
    I:"toolHeadRawShovelFlint;_32"=32
    I:"toolHeadRawSpadeFlint;_32"=32
    I:"toolHeadRawSwordFlint;_64"=64
    I:"toolHeadSenseFlint;_93"=93
    I:"toolHeadShovelFlint;_29"=29
    I:"toolHeadSpadeFlint;_29"=29
    I:"toolHeadSwordFlint;_61"=61
}


